<div class="container">  
  <div class="row">
    <div *ngIf="!mobile" class="offset-lg-1 col-lg-10 offset-lg-1">
      <div class="incident">
        Incidents
      </div>
      <table class="table"> {{sorted(incidents)}}
        <tr class="title-row">
          <th></th>
          <th *ngFor="let column of tableColumns">
            {{column}}
          </th>
        </tr>
        <tr class="title-row" *ngFor="let incident of incidents">
          <td [ngSwitch]="incident.priority">
            <img *ngSwitchCase="1" src="/assets/img/alarm-high.svg">
            <img *ngSwitchCase="2" src="/assets/img/alarm-medium.svg">
            <img *ngSwitchCase="3" src="/assets/img/alarm-low.svg">
          </td>
          <td>{{incident.datetime}}</td>
          <td>{{incident.id}}</td>
          <td>{{incident.priority}}</td>
          <td>{{incident.locationName}}</td>
          <td>{{incident.incidentName}}</td>
          <td>{{incident.description}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="mobile" class="offset-lg-1 col-lg-10 offset-lg-1">
      {{sorted(incidents)}}
      <div class="incident-mob">
        Incidents
      </div>
      <ul class="list">
        <li class="item" *ngFor="let incident of incidents">
          <span [ngSwitch]="incident.priority">
            <img *ngSwitchCase="1" src="/assets/img/alarm-high.svg">
            <img *ngSwitchCase="2" src="/assets/img/alarm-medium.svg">
            <img *ngSwitchCase="3" src="/assets/img/alarm-low.svg">
          </span>
          <span>{{incident.datetime}}</span>
          <br>
          <div class="incident-detail">            
            <span>{{incident.locationName}}</span>
            <br>
            <span>{{incident.incidentName}}</span>
            <br>
            <span>{{incident.description}}</span>
            <br>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>